@import url("https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu+Mono&display=swap");

.reveal pre code {
  font-size: 24px;
  margin-top: 0em;
  background-color: #fff;
  color: #222;
}

.reveal div.sourceCode pre code {
  margin-top: -0.05em;
  min-height: 100% !important;
  max-height: 550px !important;
}

.reveal code {
  color: #d73a49;
  background-color: rgba(0, 0, 0, 0);
  white-space: pre-wrap;
}

code span.bu {
  color: #d73a49;
}

p.codespacer {
  height: 1px;
}

p.tightspacer {
  height: 0.5px;
}

.boxed-content {
  border: 3px solid #1c1c1c;
  padding: 10px;
  border-radius: 5px;
}

.tight-boxed-content {
  border: 3px solid #1c1c1c;
  padding: -2px;
  border-radius: 5px;
}

:root {
  --quarto-font-monospace: "Ubuntu Mono", SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace !important;
  --r-code-font: "Ubuntu Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
}
